// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:							#ecf0f1;
$font-family-sans-serif:		'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:					45px;
$navbar-default-bg:				white;
$navbar-default-brand-color:	#c0392b;
$brand-primary:					#c0392b;
$jumbotron-bg:						white;

$icon-font-path: 'bootstrap/'; // FOR THE GLYFICONS TO SHOW UP
@import 'bootstrap';

.center {
     text-align: center;
}

.clear {
	clear: both;	
}

.navbar-brand {
     font-weight: bold;
}


/******* RECIPES LISTING ********/

recipes {
  margin: 0 auto;
}

.box {
	float: left;
  margin: 5px;
  width: 214px;
  text-align: center;
}

.box img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: grey; // TIJDELIJK
}

/***** INDIVIDUAL RECIPE ******/


